@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.ttf');
  font-weight: normal;
  font-style: none;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.ttf');
  font-weight: bold;
  font-style: none;
}

html {
  scroll-behavior: smooth;
  hyphens: auto;

}

h3,
p {
  margin: 0;
  font-size: 1em;
}

body {
  background-color: #121212;
  color: #ddd;
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  padding: 0 1rem;
}


@media screen and (min-width: 375px) {
  .App {
    padding: 0 2rem;
  }
}

